@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tangerine:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://img.freepik.com/premium-photo/vibrant-diwali-greeting-design-with-mandala-decoration_1174497-131148.jpg?semt=ais_hybrid);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  position: relative;
  height: 80vh;
}

.title {
  color: white;
  font-weight: 900;
  font-family: "Tangerine", cursive;
  font-size: 110px;
  text-align: center;
  margin-top: 120px;
  text-shadow: 2.5px 2.5px rgb(48, 143, 210);
}

.wishes {
  color: white;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: 50px;
  margin: 5% 10% 0 30%;
  animation: fadeIn 2s forwards;
  animation-delay: 0.3s;
}

.from {
  color: white;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: 40px;
  position: absolute;
  bottom: 120px;
  right: 200px;
}

.name {
  color: white;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: 40px;
  position: absolute;
  bottom: 70px;
  right: 220px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 90px;
    margin-top: 80px;
  }
  .wishes {
    font-size: 40px;
    margin: 5% 5% 0 10%;
  }
  .from,
  .name {
    font-size: 35px;
    right: 150px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 70px;
    margin-top: 60px;
  }
  .wishes {
    font-size: 35px;
    margin: 5% 5% 0 5%;
  }
  .from,
  .name {
    font-size: 30px;
    right: 100px;
  }
}

@media (max-width: 768px) {
  body {
    height: auto;
  }
  .title {
    font-size: 50px;
    margin-top: 40px;
  }
  .wishes {
    font-size: 30px;
    margin: 5% 5% 0 5%;
  }
  .from,
  .name {
    font-size: 25px;
    right: 50px;
  }
}

@media (max-width: 576px) {
  body {
    background-image: url(https://img.freepik.com/premium-photo/happy-diwali-image_849761-34914.jpg?w=360);
    height: 90vh;
  }
  .title {
    font-size: 60px;
    margin-top: 20px;
    text-shadow: 1.5px 1.5px rgb(223, 252, 5);
  }
  .wishes {
    font-size: 30px;
    margin: 10% 5% 0 5%;
  }
  .from,
  .name {
    font-size: 30px;
    right: 40px;
  }
  .from {
    bottom: 50px;
  }
  .name {
    bottom: 5px;
  }
}
